### Emacs ###

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
*.swp

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

### Intellij ###
.idea
out/
*.iml
*.iws

### VisualStudioCode ###
.vscode/*
.history

### Executable ###
*.app
*.apk
*.bat
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.vb
*.wsf

### Node ###
# Dependency directories
node_modules/
/apitest/node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# General macOS files
.DS_Store
.AppleDouble
.LSOverride
*.dmg

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class