### Emacs ###

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

### Intellij ###

.idea
out/
*.iml
*.iws

### VisualStudioCode ###

.vscode/*
.history

### Executable ###

*.app
*.apk
*.bat
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.vb
*.wsf

*.dmg
*.swp
.DS_Store

### Node ###

# Dependency directories
node_modules/
/apitest/node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
