Babel==2.6.0
backports.shutil-get-terminal-size==1.0.0
BeautifulSoup==3.2.1
decorator==4.3.0
enum34==1.1.6
html==1.16
ipython-genutils==0.2.0
lxml==4.3.3
pbr==4.2.0
pexpect==4.6.0
ptyprocess==0.6.0
Pygments==2.2.0
pytz==2018.9
simplegeneric==0.8.1
SimpleTAL==4.3
six==1.11.0
stevedore==1.29.0
termcolor==1.1.0
traitlets==4.3.2
vboxapi==1.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
