<div id="cc_js_generated_box" xmlns:tal="http://xml.zope.org/namespaces/tal">
<div id="cc_js_lic-menu">

  <div id="cc_js_want_cc_license_at_all">
    <span>
      <input type="radio" onclick="cc_js_enable_widget();" id="cc_js_want_cc_license_sure" name="cc_js_want_cc_license" value="sure" checked="checked" /><label class="cc_js_infobox" for="cc_js_want_cc_license_sure"><span onmouseover="cc_js_on_tooltip_html(event,'&lt;p>&lt;strong>' + cc_js_t('Creative Commons') + '&lt;/strong> ' + cc_js_t('With a Creative Commons license, you keep your copyright but allow people to copy and distribute your work provided they give you credit — and only on the conditions you specify here.') + '&lt;/p>');" onmouseout="cc_js_hide_tip()">A <span class="cc_js_question">Creative Commons</span> license</span></label>
    </span>
    <span>
	    <input type="radio" onclick="cc_js_disable_widget();" id="cc_js_want_cc_license_nah" name="cc_js_want_cc_license" value="nah" />
	    <label for="cc_js_want_cc_license_nah"><span>No license</span></label>
    </span>
  </div>

  <div id="cc_js_required">
    
    <p class="cc_js_hidden">
      <input name="cc_js_share" value="1" id="cc_js_share" checked="checked" type="checkbox" style="display: none;"/>
    </p>
      
      
    <p>
      <input  onclick="cc_js_modify(this);" name="cc_js_remix" value="" id="cc_js_remix" type="checkbox" />
      <label style="color: black;" onclick="cc_js_call_me_on_label_selection(this);" for="cc_js_remix" class="cc_js_question" onmouseover="cc_js_on_tooltip_html(event,'&lt;p>&lt;strong>' + cc_js_t('Remix') + '&lt;/strong> ' + cc_js_t('Licensor permits others to make derivative works') + '&lt;/p>');" onmouseout="cc_js_hide_tip()" id="cc_js_remix-label"><strong><span>Allow Remixing</span></strong></label> 
    </p>
    
    
    <p>
      <input  onclick="cc_js_modify(this);" name="cc_js_nc" value="" id="cc_js_nc" type="checkbox" />
      <label style="color: black;" onclick="cc_js_call_me_on_label_selection(this);" for="cc_js_nc" class="cc_js_question" onmouseover="cc_js_on_tooltip_html(event,'&lt;p>&lt;img src=&quot;http://creativecommons.org/icon/nc/standard.gif&quot; alt=&quot;nc&quot; class=&quot;cc_js_icon&quot; />&lt;strong>' + cc_js_t('Noncommercial') + '&lt;/strong> ' + cc_js_t('The licensor permits others to copy, distribute and transmit the work. In return, licensees may not use the work for commercial purposes — unless they get the licensor\'s permission.') + '&lt;/p>');" onmouseout="cc_js_hide_tip()" id="cc_js_nc-label"><strong><span>Prohibit Commercial Use</span></strong></label> 
    </p>

    <p>
      <input  onclick="cc_js_modify(this);" name="cc_js_sa" value="" id="cc_js_sa" type="checkbox" />
      <label style="color: black;" onclick="cc_js_call_me_on_label_selection(this);" for="cc_js_sa" id="cc_js_sa-label" class="cc_js_question" onmouseover="cc_js_on_tooltip_html(event,'&lt;p>&lt;img src=&quot;http://creativecommons.org/icon/sa/standard.gif&quot; alt=&quot;sa&quot; class=&quot;cc_js_icon&quot; />&lt;strong>' + cc_js_t('Share Alike') + '&lt;/strong> ' + cc_js_t('The licensor permits others to distribute derivative works only under the same license or one compatible with the one that governs the licensor\'s work.') + '&lt;/p>');" onmouseout="cc_js_hide_tip()"><strong><span>Require Share-Alike</span></strong></label>
    </p>
        
    <br />
    
    
    
  </div>
  
  <div id="cc_js_jurisdiction_box">
    <p><strong class="cc_js_question" onmouseover="cc_js_on_tooltip_html(event,'&lt;p>&lt;strong>Jurisdiction&lt;/strong> ' + cc_js_t('If you desire a license governed by the Copyright Law of a specific jurisdiction, please select the appropriate jurisdiction.') + '&lt;/p>');" onmouseout="cc_js_hide_tip()"><span>Jurisdiction of your license:</span></strong>  </p>
    <select name="cc_js_jurisdiction" id="cc_js_jurisdiction"  onchange="cc_js_modify(this);" onclick="cc_js_modify(this);">
      
      <option tal:repeat="jurisdiction jurisdictions" tal:attributes="id jurisdiction/id; value jurisdiction/value" tal:content="jurisdiction/name">Sample jurisdiction</option>
    </select>
  </div>
  
  <div id="cc_js_license_selected">
    <div id="cc_js_license_example"></div>
  </div>
  
  
  <div id="cc_js_tip_cloak" style="position:absolute; visibility:hidden; z-index:100">hidden tip</div> 
</div>

<form id="cc_js_cc_js_result_storage" class="cc_js_hidden">
  <input type="hidden" name="cc_js_result_uri" id="cc_js_result_uri" value="" />
  <input type="hidden" name="cc_js_result_img" id="cc_js_result_img" value="" />
  <input type="hidden" name="cc_js_result_name" id="cc_js_result_name" value="" />
</form>
  
</div>
